.article {
    .section-1 {
        min-height: 440px;

        .images {
            height: auto;
        }

        .columns-left {
            .header {
                display: flex;
                width: 100%;
                color: #197ec5;
                font-size: 13px;
                align-items: flex-end;

                svg {
                    fill: #197ec5;
                }

                div {
                    margin-right: 25px;
                }

                span {
                    margin-right: 5px;
                }

                .icon {
                    width: 15px;
                    color: #197ec5;
                }
            }

            .titles {
                margin-bottom: 10px;
            }

            .texts {
                margin-bottom: 15px;
                color: #324654;
                font-size: 15px;

                i {
                    color: #197ec5;
                    padding: 3px;
                }

                &.texts-quote {
                    color: #0070C0;
                    font-size: 25px;
                }

                &.texts-quote-author {
                    color: #324654;
                    font-size: 25px;
                    border-left: 4px solid #0070C0;
                    padding-left: 15px;
                }
            }
        }

        .columns-right {
            .images-right {
                position: absolute;
                top: -40px;
                right: 0px;
            }
        }
    }
}
