.carousel-3 {
    padding: 0 0 100px 0;

    .row {
        padding: 15px 0px;
    }

    .carousel-control {
        display: none;
    }

    .carousel-item {
        margin-top: 15px;

        .row {
            justify-content: space-around;

            div {
                justify-content: flex-end;
            }
        }
    }
}
