@media screen and (max-width: 991.98px) {
    .module-carousel {
        margin-top: 50px;
        height: auto;

        .carousel {
            .row {
                display: flex;
                flex-direction: column;

                div {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                }
            }
        }
    }

    .carousel-1 {
        .carousel-item {
            div {
                padding: 0;
            }

            .hs_cos_wrapper {
                width: 100%;

                div {
                    height: auto !important;
                    width: 100%;
                    padding: 10px;
                    border-radius: 5px;

                    img {
                        width: auto !important;
                    }
                }
            }
        }
    }

    .carousel-2 {
        .background {
            height: calc(115% - 115px);
        }
    }
}
