body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

hr {
    width: 100%;
}

.btn {
    border-color: inherit;
    border-radius: 10px;
}

.dropdown {
    cursor: pointer;
}

.carousel-indicators {
    bottom: -65px;

    li {
        background-color: #f1f3f4;
        border-radius: 50%;
        width: 20px;
        height: 20px;

        &.active {
            background-color: #0070C0;
        }
    }
}

.carousel-control {
    display: none;
}

.module-hero {
    .images-right {
        display: flex;
        justify-content: flex-end;
    }

    .texts-subtitle {
        margin-bottom: 10px;
    }
}

.module-logos {
    .title, .subtitle {
        margin-bottom: 5px;
    }

    .logo-text {
        margin-top: 10px;
    }

    .separator {
        width: 1px;
    }
}

.titles-large {
    font-size: 45px !important;
    color: #197ec5;
    font-weight: 600;
}

.titles-normal {
    font-size: 35px !important;
    color: #197ec5;
    font-weight: 600;
}

.texts-large {
    font-size: 24px;
    color: #4A626D;
}

.texts-normal {
    font-size: 16px;
    color: #4A626D;
}

.texts-small {
    font-size: 14px;
    color: #4A626D;
}
