footer {
    margin-top: 50px;
    background-image: url("https://cdn2.hubspot.net/hubfs/5193183/U-Planner/u-planner-background.png");
    background-position: center;
    color: white;
    padding: 35px 0 0 0;
    display: flex;
    align-items: center;
    width: 100%;
    bottom: 0;

    hr {
        width: 95%;
    }

    .copyrights {
        width: 100%;
        display: flex;

        div {
            margin: 0;
            padding: 0;

            &.copyrights-left {
                text-align: left;
            }

            &.copyrights-right {
                text-align: right;
                width: 100%;
            }
        }
    }

    .office-list {
        display: flex;
        text-align: end;

        .office {
            flex-direction: column;
            padding: 5px;
        }
    }

    .social {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .social-logos {
            display: flex;
            flex-direction: row;

            div {
                padding: 1px;
            }
        }
    }
}
