@media screen and (max-width: 991.98px) {
    footer {
        .images {
            text-align: center;
        }

        .office-list {
            text-align: center;
        }

        .copyrights-left, .copyrights-right {
            text-align: center;
        }

        .social {
            margin: 15px 0;
            display: flex;
            align-items: center;
        }
    }
}
