@media screen and (max-width: 991.98px) {
    header {
        .container {
            z-index: 2;
            background-color: white;
        }

        .mobile-menu-hamburger {
            display: block;

            i {
                font-size: 40px;
            }
        }

        .mobile-menu {
            height: 100%;
            width: 100%;
            display: flex;
            position: fixed;
            z-index: 1;
            right: 1500px;
            background-color: rgb(0, 0, 0);
            overflow-x: hidden;
            transition: 0.9s;
            flex-direction: column;
            padding: 201px 40px;

            i {
                padding: 5px;
            }

            .menu-item {
                margin-left: 10px;
                padding: 5px;
                width: 500px;

                a, div {
                    font-size: 24px;
                    color: white;
                    cursor: pointer;
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        .software-menu {
            height: 100%;
            width: 100%;
            display: flex;
            position: fixed;
            left: 1500px;
            z-index: 2;
            background-color: rgb(0, 0, 0);
            overflow-x: hidden;
            transition: 0.9s;
            flex-direction: column;
            padding: 201px 40px;

            .menu-title {
                font-size: 24px;
                color: white;
            }

            .menu-item {
                margin-left: 10px;
                padding: 5px;
                width: 500px;

                a, div {
                    font-size: 20px;
                    color: white;
                    cursor: pointer;
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        .contact {
            display: none;
        }

        .language {
            right: 0;
        }

        .nav {
            align-items: center;
            justify-content: space-between;
            width: 100%;
            display: flex;

            .nav-logo {
                width: 50%;
                display: flex;
                justify-content: center;

                img {
                    width: 160px;
                    height: 50px;
                }
            }

            .mobile-menu {
                cursor: pointer;
                display: block;

                i {
                    font-size: 35px;
                    color: #0070C0;
                }
            }

            .desktop-menu {
                display: none;
            }
        }
    }
}
