header {
    height: 161px;
    background-color: #EFF0F2;
}

header .container {
    display: flex;
    height: 100%;
    position: relative;
}

header .nav {
    display: flex;
    align-items: center;
}

header .nav-logo {
    margin-right: 15px;
}

header .nav-logo img {
    height: 78.78px;
    width: 234.11px;
}

header .nav-item {
    white-space: nowrap;
    padding: 0px;
    margin-top: 20px;
    margin-right: 7px;
}

header .nav-separator {
    margin-right: 5px;
}

header .contact {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 0 0 13px 13px;
    background-color: #1471C5;
    color: white;
}

header .language {
    position: absolute;
    top: 0;
    right: 140px;
    padding: 10px 20px;
}