@media screen and (max-width: 991.98px) {
    .module-hero {
        height: auto !important;

        .columns {
            order: 2;

            &-right {
                order: 1;
                margin-top: 50px;
            }

            div {
                display: inline;
                text-align: left;
            }

            .titles {
                display: block;
                text-align: left;
                line-height: 35px;

                div {
                    font-size: 32px !important;
                }
            }

            .images {
                //display: none;
                width: 100%;
                position: static !important;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 400px;
                    height: auto;
                }
            }

            .buttons {
                width: 100%;
                margin: 0 auto;
                display: block;
                margin-top: 10px;

                button {
                    width: 100%;
                }
            }
        }
    }
}
