.home {
    .carousel-3 {
        margin-top: 120px;

        .row {
            padding: 15px 0px;
        }

        .carousel-item {
            margin-top: 15px;

            .row {
                justify-content: space-around;

                div {
                    justify-content: flex-end;
                }
            }
        }
    }
}
