.home {
    .hero-2 {
        height: 430px;
        margin-top: 50px;

        .columns-left {
            padding-top: 55px;
            padding-bottom: 55px;

            .titles-left {
                margin-bottom: 10px;
            }

            .texts-left {
                margin-bottom: 10px;

                i {
                    color: #197ec5;
                    padding: 3px;
                }
            }

            .buttons {
                padding: 10px 0px;
            }
        }

        .columns-right {
            .images-right {
                position: absolute;
                top: 0px;
                right: 0px;
            }
        }
    }
}
