.home {
    .carousel-2 {
        position: relative;
        margin-top: 50px;

        .row {
            padding: 15px 0px;
        }

        .background {
            background-color: rgba(50, 70, 84, 0.08);
            width: 100vw;
            position: absolute;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            height: 115%;
        }

        .carousel-item {
            margin-top: 15px;

            .row {
                justify-content: space-around;

                div {
                    justify-content: flex-end;
                }
            }
        }
    }
}
