.home {
    .logos-1 {
        position: relative;

        .logos {
            margin-top: 35px;
            justify-content: space-evenly;

            div {
                text-align: center;
            }

            .separator {
                background: #e3e3e3;
                margin-left: -1px;
            }
        }
    }
}
