.home {
    .logos-1 {
        position: relative;
        margin-top: 50px;

        .logos {
            margin-top: 35px;
            justify-content: space-evenly;

            div {
                text-align: center;
            }

            .separator {
                background: #e3e3e3;
            }
        }
    }
}
