.library {
    .section-2, .section-3 {
        .row {
            display: flex;
            justify-content: space-between;
        }

        .columns {
            display: flex;

            &.columns-right {
                justify-content: flex-end;
            }
        }

        .images {
            height: auto;
        }
    }
}
