.library {
    .section-2 {
        &.extra-content {
            display: none;
        }

        .buttons:not(.more-button) {
            button {
                width: 144px;
                height: 50px;
                color: white;
                background-color: #1471C5;
            }

            a {
                color: white;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .row {
            display: flex;
            justify-content: space-between;
        }

        .columns {
            display: flex;
            margin-bottom: 100px;

            &.columns-right {
                justify-content: flex-end;
            }
        }

        .titles {
            margin-bottom: 15px;

            &.titles-top {
                margin-bottom: 25px;
            }
        }

        .texts {
            margin-bottom: 15px;
        }

        .images {
            height: auto;
        }

        .buttons {
            width: 100%;
            display: flex;

            .buttons-bottom {
                margin: 0 auto;
                padding: 10px 55px;
                background-color: #FFB000;
            }
        }
    }
}
