.logos-2 {
    padding: 100px;
    position: relative;

    .titles {
        position: absolute;
        background-color: white;
        top: 120px;
        left: 95px;
        border-radius: 4px;
        padding: 5px;
        text-align: center;
        font-weight: bold;
    }

    .logos {
        background-color: #324654;
        border-radius: 8px;
        display: flex;
        justify-content: space-around !important;
        padding: 75px 0px 50px 0px;
        height: 100%;
    }
}
