@media screen and (max-width: 991.98px) {
    .module-logos {
        .titles {
            margin-bottom: -10px;
            text-align: center;
            width: 100%;
            background-color: initial;
            position: relative;
            left: auto;

            div {
                font-size: 32px !important;
            }
        }

        .logo-text {
            margin-top: 30px;
        }

        .subtitle {
            div {
                font-size: 24px !important;
            }
        }

        .logos {
            width: 100%;
            text-align: center;

            .separator {
                width: 30%;
                height: 1px;
                margin: 50px 10px;
            }
        }
    }

    .logos-2 {
        padding: 0px !important;

        .titles {
            width: auto;
            left: -5px !important;
            top: 10px !important;
        }
    }
}
