.news {
    .section-3 {
        margin-top: 50px;

        .row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }

        .columns {
            display: flex;

            &.columns-right {
                justify-content: flex-end;
            }
        }

        .images {
            height: auto;
        }
    }
}
