.product {
    .hero-1 {
        height: 490px;

        ul {
            padding: 0px 15px;
        }

        .images {
            height: auto;
        }

        .columns-right {
            .images-right {
                position: absolute;
                top: -70px;
                right: 0px;
            }
        }
    }
}
