.product {
    .hero-1 {
        height: 490px;

        ul {
            padding: 0px 15px;
        }

        .images {
            width: 510px;

            img {
                width: 100%;
            }
        }

        .columns-right {
            .images-right {
                position: absolute;
                top: -95px;
                right: 0px;
            }
        }
    }
}
