<footer>
    <div class="container">
        <div class="row">
            <div class="col-6">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6">
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-auto">
                Headquarter Chile - Suecia 211 piso 11, Providencia, Santiago, Chile
            </div>
            <div class="col-auto">
                Copyright 2018 u-planner | by IDS, Agencia de Inbound Marketing
            </div>
        </div>
    </div>
</footer>