<header>
    <div class="container justify-content-between align-items-center">
        <div class="contact">
            Contactanos
        </div>
        <div class="language">
            <span class="language-selector dropdown dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">Español</span>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Português</a>
            </div>
        </div>
        <div class="row nav">
            <div class="mobile-menu">
                <i class="fas fa-bars"></i>
            </div>
            <div class="col-auto nav-logo">
                <img srcset="https://cdn2.hubspot.net/hubfs/5193183/U-Planner/u-planner_logo_1x.png 1x,
                     https://cdn2.hubspot.net/hubfs/5193183/U-Planner/u-planner_logo_2x.png 2x" />
            </div>
            <div class="desktop-menu">
                <div class="col-auto nav-item">
                    <span class="nav-separator">|</span>
                    <a href="http://www.u-planner.com/-temporary-slug-fa74d009-a5b1-4a36-93c4-54b87e5bd04e?hs_preview=RfLjdZGX-6729747562">
                        <span class="nav-content">Inicio</span>
                    </a>
                </div>
                <div class="col-auto nav-item">
                    <span class="nav-separator">|</span>
                    <a href="">
                        <span class="nav-content">Nosotros</span>
                    </a>
                </div>
                <div class="col-auto nav-item dropdown">
                    <span class="nav-separator">|</span>
                    <span class="nav-content dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">Software</span>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="http://www.u-planner.com/-temporary-slug-e5f86ad7-6b8d-46fb-89f3-5fd42a2b23c6?hs_preview=EgkjygGn-6721486847">U-Improve</a>
                    </div>
                </div>
                <div class="col-auto nav-item">
                    <span class="nav-separator">|</span>
                    <a href="">
                        <span class="nav-content">Blog</span>
                    </a>
                </div>
                <div class="col-auto nav-item">
                    <span class="nav-separator">|</span>
                    <a href="">
                        <span class="nav-content">Biblioteca</span>
                    </a>
                </div>
                <div class="col-auto nav-item">
                    <span class="nav-separator">|</span>
                    <a href="">
                        <span class="nav-content">Testimonios</span>
                    </a>
                </div>
                <div class="col-auto nav-item">
                    <span class="nav-separator">|</span>
                    <a href="">
                        <span class="nav-content">Noticias y eventos</span>
                    </a>
                </div>
                <div class="col-auto nav-item">
                    <span class="nav-separator">|</span>
                    <a href="">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>