<header>
    <div class="container justify-content-between align-items-center">
        <div class="contact">
            Contactanos
        </div>
        <div class="language">
            <span class="language-selector dropdown dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">Español</span>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Enlgish</a>
                <a class="dropdown-item" href="#">Português</a>
            </div>
        </div>
        <div class="row nav">
            <div class="mobile-menu">
                <i class="fas fa-bars"></i>
            </div>
            <div class="col-auto nav-logo">
                <img srcset="https://cdn2.hubspot.net/hubfs/5193183/U-Planner/u-planner_logo_1x.png 1x,
                     https://cdn2.hubspot.net/hubfs/5193183/U-Planner/u-planner_logo_2x.png 2x" />
            </div>
            <div class="desktop-menu">
                <div class="col-auto nav-item">
                    <span class="nav-separator">|</span>
                    <a href="">
                        <span class="nav-content">Inicio</span>
                    </a>
                </div>
                <div class="col-auto nav-item">
                    <span class="nav-separator">|</span>
                    <a href="">
                        <span class="nav-content">Nosotros</span>
                    </a>
                </div>
                <div class="col-auto nav-item dropdown">
                    <span class="nav-separator">|</span>
                    <span class="nav-content dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">Software</span>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div class="col-auto nav-item">
                    <span class="nav-separator">|</span>
                    <a href="">
                        <span class="nav-content">Blog</span>
                    </a>
                </div>
                <div class="col-auto nav-item">
                    <span class="nav-separator">|</span>
                    <a href="">
                        <span class="nav-content">Biblioteca</span>
                    </a>
                </div>
                <div class="col-auto nav-item">
                    <span class="nav-separator">|</span>
                    <a href="">
                        <span class="nav-content">Testimonios</span>
                    </a>
                </div>
                <div class="col-auto nav-item">
                    <span class="nav-separator">|</span>
                    <a href="">
                        <span class="nav-content">Noticias y eventos</span>
                    </a>
                </div>
                <div class="col-auto nav-item">
                    <span class="nav-separator">|</span>
                    <a href="">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>