<div class="home container">
	<section class="module-hero hero-1">
		{% module "module_1544586813679212" module_id="4412445" label="Home - Section 1" %}
	</section>
	<section class="module-logos logos-1">
		{% module "module_1544587716736340" module_id="4412460" label="Home - Section 2" %}
	</section>
	<section class="module-logos logos-2">
		{% module "module_1544587568543309" module_id="4444262" label="Home - Section 3" %}
	</section>
	<section class="module-carousel carousel-1">
		{% module "module_1544589490787673" module_id="4412473" label="Home - Section 4" %}
	</section>
	<section class="module-hero hero-2">
		{% module "module_1544589503544701" module_id="4444280" label="Home - Section 5" %}
	</section>
	<section class="module-carousel carousel-2">
		<div class="background"></div>
		{% module "module_1544589518424719" module_id="4412414" label="Home - Section 6" %}
	</section>
	<section class="module-carousel carousel-3">
		{% module "module_1544589541684735" module_id="4441749" label="Home - Section 7" %}
	</section>
	<section class="module-blog blog">
		{% module "module_1544589550855749" module_id="4414538" label="Home - Section 8" %}
	</section>
</div>