<div class="container home">
	<section class="module-hero hero-1">
		{% module "module_15441014200372658" module_id="4412445" label="texts_and_images_two_columns" %}
	</section>
	<section class="module-logos logos-1">
		{% module "module_15441015014292805" module_id="4412460" label="logos" %}
	</section>
	<section class="module-logos logos-2">
		{% module "module_15441015126922837" module_id="4412460" label="logos" %}
	</section>
	<section class="module-carousel carousel-1">
		{% module "module_15441015265972855" module_id="4412473" label="carousel_3" %}
	</section>
	<section class="module-hero hero-2">
		{% module "module_15441014493662708" module_id="4412445" label="texts_and_images_two_columns" %}
	</section>
	<section class="module-carousel carousel-2">
		<div class="background"></div>
		{% module "module_15441015470672883" module_id="4412414" label="carousel_5" %}
	</section>
	<section class="module-carousel carousel-3">
		{% module "module_15441015564762901" module_id="4412414" label="carousel_5" %}
	</section>
	<section class="module-blog blog">
		{% module "module_15441295624633018" module_id="4414538" label="blog" %}
	</section>
</div>