<div class="container">
	<section class="module-hero hero-1">
		{% module "module_1543935733313945" module_id="4399131" label="hero" %}
	</section>
	<section class="module-logos logos-1">
		{% module "module_1543935752046968" module_id="4399151" label="logos" %}
	</section>
	<section class="module-logos logos-2">
		{% module "module_1543935753478969" module_id="4399151" label="logos" %}
	</section>
	<section class="module-carousel carousel-1">
		{% module "module_1543977268661264" module_id="4402762" label="carousel_3" %}
	</section>
	<section class="module-hero hero-2">
		{% module "module_154399175285793" module_id="4399131" label="hero" %}
	</section>
	<section class="module-carousel carousel-2">
		<div class="background"></div>
		{% module "module_1543995672896241" module_id="4404323" label="carousel_5" %}
	</section>
	<section class="module-carousel carousel-3">
		{% module "module_1543995675859243" module_id="4404323" label="carousel_5" %}
	</section>
</div>