<div class="container product">
    <section class="module-hero hero-1">
        {% module "module_15445931775129894" module_id="4441776" label="Product - Section 1" %}
    </section>
    <section class="module-hero hero-2">
        <div class="background"></div>
        {% module "module_15445931933159922" module_id="4441777" label="Product - Section 2" %}
    </section>
    <section class="module-hero hero-3">
        {% module "module_15445932108669960" module_id="4441825" label="Product - Section 3" %}
    </section>
</div>